@model IEnumerable<BookViewModel>;
@{
    ViewData["Title"] = "List Page";
}
<form asp-action="List" method="get">
    <div class = "form-group">
        <input type="text" name="bookName" class="form-control" placeholder="Search by name" />
        <input type="submit"  value="Search" class="btn btn-primary"/>
    </div>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Publish date
            </th>
            <th>
                 Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.PublishDate</td>
                <td>@book.Price</td>
            </tr>
        }
    </tbody>
</table>
